body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  background: url("../assets/home-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  filter: blur(8px);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  margin-bottom: 50px;
  font-size: 3em;
  font-weight: 300;
  color: #FFFFFF;
}

.options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  font-size: 1.2em;
  background-color: transparent;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #fff;
  color: #000;
}
